<div class = "col-md-4 estiloDoFormPlayers">

<p id="notice"><%= notice %></p>

<p>
  <strong>Opcao:</strong>
  <%= @choice.opcao %>
</p>

<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>

</div>
