<% if flash[:notice] %>
  <div class = "alert alert-success" role = "alert">
    <%= flash[:notice]%>
  </div>
<% end %>

  <div class="col-md-12" , id="players_list">
    <div id="data">
      <h3>Lista de jogadores
      (<%= link_to "+", new_player_url()%>)</h3>
    </div>
    <table class="table table-sm table-striped table-dark" , id="tabela">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Personagem</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "listaDeJogadores"%>
    </tbody>
  </table>
</div>
