<%= form_for Player.new do |f| %>
  <h3 id = "estiloDoFormPlayers">Nome do jogador</h3>
  <%= f.text_field :nome%>
  <h3 id = "estiloDoFormPlayers">Nome do personagem</h3>
  <%= f.text_field :personagem%>
  <%= f.submit "Criar Jogador"%>
<% end %>
